<header id="header">
    <link rel="stylesheet" href="../style.css">
    <nav>
        <div class="logo"><img src="../images/logo.jpeg" alt="logo"></div>
        <ul>
            <li><a class="<%= homeClass %>" href="/">Home</a></li>
            <li><a href="#dictionary_section" class="<%= dictClass %>">Dictionary</a></li>
            <li><a href="#team_section" class="<%= teamClass %>">Team</a></li>
            <li><a href="#services_section" class="<%= serviceClass %>">Services</a></li>
            <li><a href="#contactus_section" class="<%= contactClass %>">Contact</a></li>
            <li><a href="#quiz" class="<%= quizClass %>">Quiz</a></li>
            <li><a href="/blog" class="<%= blogClass %>">Blogs</a></li>
            <li><a href="/donate" class="<%= donateClass %>">Donation</a></li>
        </ul>
        <div class="srch"><input type="text" class="search" placeholder="Search here..."><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQedb-7QflXGHEJ35yFEU6AGkpRHbD9GZFdXpHwCgmJ1ir2Fz0UhXH2c3f942yF0MGRZPE&usqp=CAU" alt="search" onclick=slide()></div>
        <a class="get-started" href="/login">Get Started</a>
        <img src="../images/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
    </nav>

    <div class="side-menu" id="side-menu">
        <div class="close" onclick="sideMenu(1)"><img src="../images/close.png" alt=""></div>
        <div class="user">
            <img src="../images/.jpeg" alt="Username">
            <p>img</p>
        </div>
        <ul>
            <li><a class="<%= homeClass %>" href="/">Home</a></li>
            <li><a href="#dictionary_section" class="<%= dictClass %>">Dictionary</a></li>
            <li><a href="#team_section" class="<%= teamClass %>">Team</a></li>
            <li><a href="#services_section" class="<%= serviceClass %>">Services</a></li>
            <li><a href="#contactus_section" class="<%= contactClass %>">Contact</a></li>
            <li><a href="#quiz" class="<%= quizClass %>">Quiz</a></li>
            <li><a href="/blog" class="<%= blogClass %>">Blogs</a></li>
            <li><a href="/donate" class="<%= donateClass %>">Donation</a></li>
        </ul>
    </div>
    <script src="../script.js"></script>
</header>